header {
  padding-top: 18px;
  padding-bottom: 13px;
}

header #logo_header {
  width: 100%;
  max-width: 197px;
}

footer {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #313131;
  border-top: 6px solid #C23F81;
}

footer #logo_footer {
  width: 100%;
  max-width: 144px;
}

footer .copyright {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-image: url("../../img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C23F81;
  mix-blend-mode: color;
  z-index: -1;
}

.hero .container {
  z-index: 5;
}

.hero .container h1 {
  color: #ffffff;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.search_container {
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 42px 0 45px;
}

.search_container label {
  color: #888888;
  font-size: 20px;
  margin: 0;
  padding-right: 5px;
}

.search_container .search_box {
  position: relative;
  width: 100%;
}

.search_container .search_box #search {
  width: 100%;
  padding: 17px;
  border: 0px;
  background-color: #ECECEC;
  border-radius: 8px;
}

.search_container .search_box .search_icon {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #5e5e5e;
  width: 25px;
  height: 25px;
}

.search_container .suggested {
  color: #ffffff;
  font-weight: 300;
}

.search_container .suggested span {
  font-weight: 500;
}

#gallery_container .item_hidden {
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  height: 0;
  overflow: hidden;
}

#gallery_container .card_gallery {
  height: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
}

#gallery_container .card_gallery .card_top {
  width: 100%;
  height: 279px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  z-index: 1;
}

#gallery_container .card_gallery .card_top:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 767px) {
  #gallery_container .card_gallery .card_top {
    height: 200px;
  }
}

@media (max-width: 575px) {
  #gallery_container .card_gallery .card_top {
    height: 279px;
  }
}

#gallery_container .card_gallery .card_bottom {
  position: relative;
  padding: 12px 0px 25px;
  background-color: #ffffff;
  z-index: 2;
}

#gallery_container .card_gallery .card_bottom .card_credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#gallery_container .card_gallery .card_bottom .card_credit .card_avatar img {
  width: 46px;
}

#gallery_container .card_gallery .card_bottom .card_credit .card_text {
  margin-left: 14px;
}

#gallery_container .card_gallery .card_bottom .card_credit .card_text p {
  margin: 0;
}

#gallery_container .card_gallery .card_bottom .card_credit .card_text .title {
  color: #313131;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

#gallery_container .card_gallery .card_bottom .card_credit .card_text .hashtag {
  color: #313131;
  font-size: 14px;
  font-weight: 400;
}

#load_more_items_gallery {
  border: 0;
  margin-top: 55px;
  margin-bottom: 100px;
}

#load_more_items_gallery:hover {
  cursor: pointer;
}

.btn_medium_primary {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #C23F81;
  padding: 12px 30px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 28px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none !important;
}

*:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: 0;
}
/*# sourceMappingURL=main.css.map */